## simple_triplet stuff
export("as.simple_triplet_matrix",
       "is.simple_triplet_matrix",
       "simple_triplet_diag_matrix",
       "simple_triplet_matrix",
       "simple_triplet_zero_matrix"
       )

S3method("[", "simple_triplet_matrix")
S3method("Ops", "simple_triplet_matrix")
S3method("Summary", "simple_triplet_matrix")
S3method("as.matrix", "simple_triplet_matrix")
S3method("as.simple_triplet_matrix", "simple_triplet_matrix")
S3method("as.simple_triplet_matrix", "matrix")
S3method("as.simple_triplet_matrix", "default")
S3method("as.simple_triplet_matrix", "dgTMatrix")
S3method("as.simple_triplet_matrix", "dgCMatrix")
S3method("c", "simple_triplet_matrix")
S3method("cbind", "simple_triplet_matrix")
S3method("dim", "simple_triplet_matrix")
S3method("dimnames", "simple_triplet_matrix")
S3method("dimnames<-", "simple_triplet_matrix")
S3method("duplicated", "simple_triplet_matrix")
S3method("is.numeric", "simple_triplet_matrix")
S3method("mean", "simple_triplet_matrix")
S3method("print", "simple_triplet_matrix")
S3method("rbind", "simple_triplet_matrix")
S3method("t", "simple_triplet_matrix")
S3method("unique", "simple_triplet_matrix")

## enhanced stuff
useDynLib(slam)

export("row_sums",
       "col_sums",
       "row_means",
       "col_means"
      )

S3method("row_sums", "default")
S3method("row_sums", "simple_triplet_matrix")

S3method("col_sums", "default")
S3method("col_sums", "simple_triplet_matrix")

S3method("row_means", "default")
S3method("row_means", "simple_triplet_matrix")

S3method("col_means", "default")
S3method("col_means", "simple_triplet_matrix")

export("tcrossprod_simple_triplet_matrix")

## array stuff
export("as.simple_sparse_array",
       "is.simple_sparse_array",
       "simple_sparse_array"
       )

S3method("[", "simple_sparse_array")
S3method("Summary", "simple_sparse_array")
S3method("as.array", "simple_sparse_array")
S3method("as.simple_sparse_array", "simple_sparse_array")
S3method("as.simple_sparse_array", "array")
S3method("as.simple_sparse_array", "default")
S3method("dim", "simple_sparse_array")
S3method("dimnames", "simple_sparse_array")
S3method("mean", "simple_sparse_array")
S3method("print", "simple_sparse_array")
